*.bak /s
*.ddk /s
*.edk /s
*.lst /s
*.lnp /s
*.mpf /s
*.mpj /s
*.obj /s
*.omf /s
*.opt /s
*.plg /s
*.rpt /s
*.tmp /s
*.__i /s
*.crf /s
*.o /s
*.d /s
*.axf /s
*.tra /s
*.dep /s           
JLinkLog.txt /s
*.iex /s
*.htm /s
*.sct /s
*.map /s
